.homeContainer {
	height: 400px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.preview {
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 100px;
	justify-content: space-between;
}
