.homeContainer {
	height: 400px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.preview {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: start;
}

.uploadWrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 30px;
}

.imagePreview {
	height: 275px;
	border: 1px solid;
	margin: 10px;
	width: 250px;
}

.descriptionInput {
	margin-top: 20px;
}

.inputText {
	width: 100%;
	height: 40px;
	font-size: 14px;
}

.backButton {
	width: 200px;
	padding-left: 25px;
}

.uploadBtn {
	width: 200px;
}
